@{
  Layout = "_Layout";
}

@using Library.Models;

<h1>Patrons</h1>

@if (@Model.Count == 0)
{
    <h3>No patrons have been added yet!</h3>
} 

@foreach (Patron patron in Model)
{
    <li>@Html.ActionLink($"{patron.Name}", "Checkouts", new { id = patron.PatronId })</li>
}

<p>@Html.ActionLink("Add a new patron", "Create")</p>

@* @{
  Layout = "_Layout";
}

<h1>LOGIN SUCCESSFUL (^.^)</h1>
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}

<P>@Html.ActionLink("Books index", "Index", "Books")</P>
<p>@Html.ActionLink("Authors index", "Index", "Authors")</p> *@