@{
  Layout = "_Layout";
}


@if (User.Identity.IsAuthenticated)
{
  <h1>LOGIN SUCCESSFUL (^.^)</h1>
  <p>Hello @User.Identity.Name!</p>

  <P>@Html.ActionLink("Books index", "Index", "Books")</P>
  <p>@Html.ActionLink("Authors index", "Index", "Authors")</p>

  @using (Html.BeginForm("LogOff", "Patrons"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}

else
{
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Register a patron", "Register")</p>
  <p>@Html.ActionLink("Patron log in", "Login")</p>
}
