@{
  Layout = "_Layout";
}
@using Library.Models;
@model Library.Models.Book;


<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>  
@* <h3>@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author.Name)</h3> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This book does not have any authors yet!</p>
}
else
{
  <h4>Authors:</h4>
  <ul>
    @foreach(AuthorBook join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Author.Name}", "Details", "Authors", new { id = join.AuthorId })</li>
      @using (Html.BeginForm("DeleteJoin", "Books"))
      {
        @Html.Hidden("joinId", @join.AuthorBookId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<h3>Number of Copies: @Model.Copies.Count()</h3>

@foreach(Copy copy in Model.Copies)
{
  @if(copy.CheckedOut == true)
  {
    <h3>Checked out copies:</h3>
    <ul>
      <li>Copy ID: @copy.CopyId</li>
    </ul>
  }
  else 
  {
    <h3>Available copies:</h3>
    <ul>
      <li>Copy ID: @copy.CopyId | @Html.ActionLink("Checkout", "Checkout", "Copies", new { id = copy.CopyId })</li>
    </ul>
  }
}



<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Add an author to this book", "AddAuthor", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Create a copy", "Create", "Copies")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
