@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Author

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This author does not belong to any nooks.</p>
}
else
{
  <h4>Books the author belongs to:</h4>
  <ul>
  @foreach(AuthorBook join in Model.JoinEntities)
  {
    <li>@join.Book.Title</li>
    @using (Html.BeginForm("DeleteJoin", "Authors"))
    {
    @Html.Hidden("joinId", @join.AuthorBookId)
    <input type="submit" value="Delete"/>
    }
  }
  </ul>
}



<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Add a book", "AddBook", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>