@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>Create a new copy</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ISBN)
  @Html.TextBoxFor(model => model.ISBN)
  
  @Html.LabelFor(model => model.Book)
  @Html.DropDownList("BookId")


<input type="submit" value="Create" class="btn btn-default">
}

<p>@Html.ActionLink("Back to book index", "Index", "Books")</p>
