@{
  Layout = "_Layout";
}

@model Library.Models.Copy;

<h2>Details</h2>

Book Title: @Html.DisplayNameFor(model => model.Title)
Copy Number: @Html.DisplayFor(model => model.CopyId)

<br />

@Html.ActionLink("Delete entry", "Delete")
@Html.ActionLink("Return to copies index", "Index")
@Html.ActionLink("Home", "Index", "Home")
